# Archivos de configuración con datos sensibles
appsettings.Development.json

# Archivos de usuario de Visual Studio o Rider
*.user
*.suo
*.vs/

# Carpetas generadas (bin, obj)
bin/
obj/

# Archivos de configuración locales de entorno
.vscode/
.env

# Otros que puedas tener
*.log